#hidden-block {
    position: fixed;
    left: -212px;
    top: 10px;
    background-color: #ffe6ac;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 100px;
    width: 200px;
    color: black;
    transition-duration: 1s;
}

#hidden-block:hover {
    left: 0;
}
